/* @media (min-width: 1025px) {
    .h-custom {
    height: 100vh !important;
    }
    } */
/* .h-custom {
    width: 100% !important;
    margin: 0 !important;
    display: flex;
    justify-content: center;
} */

.cart-page {
    background-color: #38153eea;
    color: azure;
    font-family: 'Mulish', sans-serif !important;
}

.mybox {
    width: 90% !important;
    margin: auto !important;
    padding: 0 !important;
}

.continue-title {
    margin: 0 !important;
    padding-top: 100px;
    text-align: left;
    font-size: 30px;
}
.product-img {
    width: 35%;
    object-fit: contain !important;
}

.card {
    padding: 0 !important;
}

.main-card {
    width: 100%;
    margin: auto;
}

.main-body {
    width: 100%;
    margin: auto;
}

.cards-list {
    width: 60% !important;
}

.details__block {
    width: 35% !important;
    color: aliceblue !important;
    margin: 0 15px 20px;
}

.info-block {
    width: 90% !important;
    display: flex;
    /* justify-content: center;
    flex-wrap: wrap; */
    margin: auto;
    padding-bottom: 20px;
}

.img-title {
    width: 47%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-card {
    display: flex;
    flex-wrap: wrap;
}

.payment-cards {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 40px !important;
    margin-bottom: 60px;
    flex-wrap: wrap;
}

.payment-cards>a {
    margin: 5px;
}

.prices-par {
    color: aliceblue !important;
}

.box-checkout {
    display: flex;
    justify-content: center;
    margin: auto;
}

#checkout-btn {
    width: 50%;
    margin: auto;
    color: white;
    background: #947ef7;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.259) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    transition: 1s ease-in-out !important;
  }
  
  #checkout-btn:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    transition: 0.6s ease-in-out !important;
  }

  #promo-btn {
    margin-top: 25px !important;
    width: 65% !important;
    margin: auto;
    color: white;
    background: #947ef7;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.259) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    transition: 1s ease-in-out !important;
  }
  
  #promo-btn:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    transition: 0.6s ease-in-out !important;
  }

.card-body-details {
    margin: 20px;
}

.card-details-header {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.box-promo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-body-prod {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: #a6379b;
    border-radius: 20px;
    border: 1px solid azure;
    width: 100%;
}

.card-prod-box {
    display: flex;
    flex-wrap: wrap;
}

.box-img {
    width: 25%;
    margin: 15px auto;
    text-align: center;
}

.info-text {
    width: 20%;
    display: flex;
    flex-direction: column;
    margin: 15px auto;
    text-align: center;
}

.price-block {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
}
.price-block>h5 {
    font-size: 15px;
    font-family: 'Mulish', sans-serif !important;
    font-weight: 200;
}

.card-details {
    background: #a6379b;
    border-radius: 30px;border: 1px solid azure;
}

.card-details-title {
    text-align: center;
    font-size: 2rem;
    margin: 0 auto;
}


@media all and (max-width: 768px) {
    .info-block {
        flex-direction: column;
        margin: auto;
        justify-content: center;
        align-items: center;
    }

    .cards-list {
        width: 100% !important;
        margin: auto;
    }

    .details__block {
        width: 100% !important;
    }

}
    
