.posts-list {
  background-color: #38153eea;
}

.container-post {
  width: 70%;
  display: flex;
  justify-content: center;
  margin:  auto;
}

.card-prod {
  width: 80%;
  margin: 100px auto;
  border-radius: 30px !important;
  background: #a6379b !important;
  color: azure !important;
  box-shadow: rgba(0, 0, 0, 0.259) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset !important;
}

.card-image {
  object-fit: contain;
  height: 300px;
}