footer {
       position: static;
       bottom: 0 !important;
       /* background-color: #683770 !important; */
       background-image: linear-gradient(to bottom, #4e4188, #75459a, #7b3381, #731f69, #501565);

       width: 100%;
       color: rgb(202, 199, 199) !important;
}

.footer-body {
       width: 70%;
       margin: auto;
       padding: 20px;
       color: whitesmoke !important;
       flex-wrap: wrap;
}

.footer-content {
       width: 100%;
       display: flex;
       justify-content: center;
       margin: 20px auto;
       align-items: center;
       flex-wrap: wrap;
}

.footer-logo {
       width: 20%;
       display: flex;
       justify-content: center;
       align-items: center;
}

.footer-logo>img {
       width: 100px;
       height: 100px;
       border-radius: 20px !important;
}

#footer-logo-desc-count {
       display: flex;
       align-items: center;
}

.footer-info {
       width: 90%;
       display: flex;
       justify-content: center;
       color: whitesmoke !important;
       flex-wrap: wrap;
       margin: auto 20px;
       text-align: center;
}

.footer-info a {
       text-decoration: none !important;
       color: whitesmoke !important;
}

.footer-info ul {
       list-style-type: none !important;
       padding: 0%;
}

.footer-block-1 {
       margin: 0 30px;
       width: 100px;
}

.footer-block-2 {
       margin: 0 30px;
       width: 100px;
}

.footer-block-3 {
       margin: 0 30px;
              width: 100px;

}

.footer-block-4 {
       margin: 0 30px;
              width: 100px;

}

.footer-icons {
       width: 40%;
       display: flex;
       flex-wrap: wrap;
       justify-content: center;
       text-align: center;
       margin: auto;
}

.footer-icons>a {
       margin: auto 20px;
}

.icons {
       color: rgb(185, 181, 181);
       /* padding: auto 20px; */
       /* margin: 30px; */

}

/* .icons-btns {
       margin: 30px;
} */

.icons-btns:hover {
       transition: 0.4s ease-in-out;
       border-radius: 10px;
       box-shadow: rgba(208, 30, 231, 0.623) 0px 0px 0px 2px, rgb(224, 32, 238) 0px 4px 6px -1px, rgba(255, 255, 255, 0.875) 0px 1px 0px inset;
}

.icons-btns:hover>.icons {
       color: rgb(240, 93, 245);
       transition: 0.4s ease-in-out;
}

@media all and (max-width: 1090px) {
       .footer-body {
              width: 90%;
       }

       .footer-icons {
              width: 90%;
       }
}

@media all and (max-width: 320px) {
       .footer-body {
              padding-left: 0;
              padding-right: 0;
       }
       
}