.container-home {
  background-color: #38153eea;
  height: 100% !important;
  /* padding: 10px; */
  position: relative;
}

.slider-container-header {
  /* width: 100%; */
  margin: 0 auto 30px;
  padding-top: 70px;
}

.slider-container-header>button {
  display: none;
}

.slider-img-box-header>img {
  object-fit: contain;
  width: 100% !important;
  height: 500px;
  border-radius: 20px !important;
}

.slider-container {
  margin: 100px auto;
  width: 70%;
  text-align: center;
  color: azure;
}

.slider-img-box>img {
  object-fit: cover;
  width: 360px;
  height: 270px !important;
  margin: auto;
  padding: auto;
}

.promo-home {
  width: 70%;
  object-fit: cover;
  margin: 100px auto !important;
}

.promo-home>img {
  border-radius: 50px;
  object-fit: cover;
}

.promo-home {
  width: 80%;
  margin: 150px auto !important;
  position: relative;
}

.promo-home>img {
  object-fit: cover;
  width: 100%;
  margin: auto !important;
}

.promo-home-text {
  position: absolute;
  color: azure;
  font-size: 3rem;
  width: 40%;
  margin-top: 70px;
  margin-left: 10%;
}

.promo-home-bottom {
  width: 80%;
  margin: auto ;
  position: relative;
}

.promo-home-bottom>img {
  object-fit: cover;
  width: 100%;
  margin: auto !important;
}

.promo-home-bottom-text {
  position: absolute;
  color: azure;
  font-size: 2.5rem;
  width: 40%;
  margin-top: 70px;
  margin-left: 10%;
  text-align: center;
}

.slick-arrow {
  display: none !important;
}

.slide-info-text {
  width: 300px;
  margin: auto;
}

  @media all and (max-width: 1024px) {
  .promo-home-text {
    font-size: 2rem !important;
  }
  .slider-img-box>img {
    width: 325px !important;
  }
  .promo-home-bottom-text {
    font-size: 1.5rem !important;
  }
}

@media all and (max-width: 768px) {
  .promo-home-text {
    font-size: 1.5rem !important;
  }
  .slider-img-box>img {
    width: 250px !important;
  }
  .promo-home-bottom-text {
    font-size: 1rem !important;
  }
}

@media all and (max-width: 320px) {
  .promo-home-text {
    font-size: 10px !important;
    margin-top: 20px;
  }
  .slider-img-box>img {
    width: 250px !important;
  }
  .promo-home-bottom-text {
    font-size: 10px !important;
    margin-top: 10px;
    margin-left: -2%;
    width: 50%;
  }
  .promo-home{
    margin: 0 auto !important;
  }
  .slider-img-box-header>img {
    height: 200px !important;
  }
  .slider-container{
    margin: 50px auto !important;
  }
}