.posts-main {
    width: 100% !important;
    height: 100% !important;
    background-color: #2e0833;
    /* background-image: 
        radial-gradient(at 47% 50%, hsl(291.63, 67%, 38%) 0, transparent 59%), 
        radial-gradient(at 65% 65%, hsl(288.00, 18%, 11%) 0, transparent 55%); */
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.posts-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
}
