.posts-main {
    width: 100% !important;
    height: 100% !important;
    background-color: #38153eea;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.posts-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap !important;
    width: 100%;
    margin: auto;
    padding-top: 150px;
    position: relative;
}

.css-1aczowp-MuiButtonBase-root-MuiPaginationItem-root{
    color: white !important;
}