.profile-page {
       /* position: relative; */
       /* background-image: linear-gradient(to bottom, #935cbe, #9a51b3, #a045a8, #a6379b, #aa278e); */
       background: #000;

}

.header-profile-page {
       height: 200px;
       width: 100%;
}

.header-profile-page>img {
       width: 100%;
       object-fit: contain;
}

.body-profile-content {
       position: relative;
       width: 80%;
       margin: 20px auto;
       display: flex;
       flex-wrap: wrap;
       justify-content: center;
       color: aliceblue;
       background-image: linear-gradient(to bottom, #6e5cbe, #8951b3, #a045a8, #a6379b, #721e90);
       border-radius: 20px;
}

.left-body-profile {
       width: 300px;
       margin: 30px auto;
       text-align: center;
}

.right-body-profile {
       text-align: center;
       width: 65%;
       margin: 30px auto;
       background: rgba(247, 235, 235, 0.508);
       border-radius: 30px;
}

.right-body-profile>form {
       padding: 30px;
}

.avatar>img {
       width: 200px;
       height: 200px;
       object-fit: cover;
       border-radius: 50% !important;
}

.promo-profile>video{
       width: 100% !important;
       height: 300px;
       object-fit: cover !important;
       filter: blur(1px);
}

.avatar>img {
       width: 200px;
       height: 200px;
}

.settings-inputs {
       width: 310px !important;
       margin: 10px 10px !important;
}

.about-user {
       display: flex;
       flex-wrap: wrap;
       justify-content: center;
       margin: 20px;
}

.profile-info-text {
       width: 310px;
       border: 1px solid whitesmoke;
       border-radius: 10px;
       margin: 10px;
}