.card-user {
       width: 300px;
       margin: 30px;
       background: #a6379b !important;
       text-align: center;
       display: flex;
       flex-direction: column;
       align-items: center;
       color: azure !important;
       box-shadow: rgba(0, 0, 0, 0.259) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset !important;

}

.card-user-image {
       width: 200px !important;
       border-radius: 50%;
       margin: 20px auto;
}

#btn-user-card {
       color: azure !important;
       margin: 10px;
       box-shadow: rgba(0, 0, 0, 0.259) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
       background: #612c87 !important;
}

#btn-user-card:hover {
       box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

#user-bio-text {
       color: azure;
       height: 50px !important;
}

.btns-block-user {
       display: flex;
       flex-direction: column;
}

.modal-user-card {
       color: azure;
       text-align: center;
       background: #b14ca7 !important;
       margin-top: 200px !important;
       display: flex;
       flex-direction: column;
       align-items: center;
       padding: 20px;
}

.modal-user-card-btn {
       margin: 10px !important;
       background: #7837a6 !important;
       color: azure !important;
       box-shadow: rgba(0, 0, 0, 0.259) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.modal-user-card-btn:hover {
       box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}